<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>

  <nav>
    <ul>
      <li><a routerLink="/publica" href="#">Inicio</a></li>
      <li><a routerLink="/registrar" href="#">Registrate</a></li>
      <li><a routerLink="/login" href="#">Mis viajes</a></li>
      <li><a routerLink="/registrar" href="#">Reserva</a></li>
      <li><a routerLink="/ticket" href="#">Ticket</a></li>
    </ul>
  </nav>
</header>
<section class="search-section">
  <h2>Encuentra tu próximo vuelo</h2>
  <form action="buscar_vuelos.php" method="post">
      <label for="origen">Origen:</label>
      <select class="search-section"id="origen" name="origen">
        <option value="ciudad1">Bogotá</option>
        <option value="ciudad2">Medellín</option>
        <option value="ciudad3">Montería</option>
        <option value="ciudad4">Armenia</option>
        <option value="ciudad5">Ibagué</option>
        <option value="ciudad6">Cali</option>
        <option value="ciudad7">Pereira</option>
        <option value="ciudad8">Villavicencio</option>
        <option value="ciudad9">Cúcuta</option>
        <!-- Agrega más opciones de origen según sea necesario -->
      </select>

      <label for="destino">Destino:</label>
      <select class="search-section"id="origen" name="origen">
        <option value="ciudad1">Bogotá</option>
        <option value="ciudad1">Medellín</option>
        <option value="ciudad2">Montería</option>
        <option value="ciudad3">Armenia</option>
        <option value="ciudad1">Ibagué</option>
        <option value="ciudad2">Cali</option>
        <option value="ciudad3">Pereira</option>
        <option value="ciudad2">Villavicencio</option>
        <option value="ciudad3">Cúcuta</option>
        <!-- Agrega más opciones de origen según sea necesario -->
      </select>
      <label for="fecha_salida">Fecha de Salida:</label>
      <input class="search-section" type="date" id="fecha_salida" name="fecha_salida" required>

      <input routerLink="/login" type="submit" value="Buscar Vuelos">
  </form>
</section>
<footer >
  <p>Derechos de autor &copy; 2023 Compañía de Vuelos. Todos los derechos reservados.</p>
</footer>
