<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="login-container">
  <h2>Login</h2>
  <hr class="border border-danger border-2 opacity-50">
  <form>
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
      <div class="container text-center">
        <div class="row">
          <div class="grid text-center">
            <div class="g-col-4">
              <label for="origen">Ingresar origen</label>
            </div>
            <div class="g-col-4">
              <input type="origen" id="origen" name="origen" required>
            </div>
          <br>
          <div class="g-col-4">
            <label for="destino">Ingresar destino:</label>
          </div>
          <div class="g-col-4">
            <input type="destino" id="destino"  name="destino" required>
          </div>
          <div class="g-col-4">
            <label for="time">Ida Fecha:</label>
          </div>
          <div class="g-col-4">
            <input type="time" id="ida"  name="ida" required>
          </div>
          <div class="g-col-4">
            <label for="time">Vuelta Fecha:</label>
          </div>
          <div class="g-col-4">
            <input type="time" id="vuelta"  name="vuelta" required>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <hr class="border border-danger border-2 opacity-50">
  <div class="text-success">
    <div class="grid text-center">
      <button routerLink="/registrar" class="g-col-4">Buscar</button>
    </div>

  </div>

