<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <nav>
    <ul>
      <li><a routerLink="/publica" href="#">Inicio</a></li>
      <li><a routerLink="/registrar" href="#">Registrate</a></li>
      <li><a routerLink="/registrar" href="#">Reserva</a></li>
      <li><a routerLink="/ticket" href="#">Ticket</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <h2>Iniciar Sesión</h2>
  <form action="procesar_login.php" method="post">
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" name="usuario" required>

      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" required>

      <input routerLink="/ticket"type="submit" value="Iniciar Sesión">
  </form>
</div>

