<h2>Razones por las que disfrutarás quedarte con nosotros</h2>

            <div class="feature_row">
                <article class="feature-box box1">
                    <i class="fa-solid fa-bell-concierge"></i>
                    <h3>Lorem ipsum dolor.</h3>
                </article>
                <article class="feature-box box2">
                    <i class="fa-solid fa-bed"></i>
                    <h3>Lorem ipsum dolor.</h3>
                </article>
                <article class="feature-box box1">
                    <i class="fa-solid fa-wifi"></i>
                    <h3>Lorem ipsum dolor.</h3>
                </article>
                <article class="feature-box box2">
                    <i class="fa-solid fa-dumbbell"></i>
                    <h3>Lorem ipsum dolor.</h3>
                </article>

            </div>
            <div class="grid text-center">
              <button routerLink="/publica" class="g-col-4">Enviar</button>
            </div>
